:root {
  --el-border-radius-base: 2px;
  --el-border-radius-small: 0;
  --el-border-radius-round: 0;
  --el-border-radius-circle: 0;
}

.flex {
  display: flex;
  &.justify-center {
    justify-content: center;
  }

  &.align-center {
    justify-content: center;
  }
}

.main-content {
  box-shadow: inset;
  padding: 20px;
  border: 1px solid #ebeef5;
  border-radius: 2px;
  background-color: #fff;
  box-shadow: 0px 5px 35px 10px rgba(91, 92, 92, 0.1);
  .form-title {
    font-size: 22px;
    font-weight: normal;
    text-align: center;
  }
  .el-form-item.mb-0 {
    margin-bottom: 0px !important;
  }
}
